@import "./styles/fonts";

.App {
  font-family: "Arquitecta", sans-serif;
}

h3 {
  font-family: 'BabasKai', 'Steelfish', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
